<section class="container">
  <div class="login-container">
    <div class="img">
      <img class="img" src="../../assets/images/login.jpg" alt="" />
    </div>
    <div class="login-container-div cta">
      <p class="login-title">Login</p>
      <p class="login-description">
        Log in quickly — it’s free and takes just a moment.
      </p>
      <div>
        <form class="cta-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="email">Email or username</label>
            <input
              id="email"
              type="text"
              placeholder="me@example.com"
              [formControlName]="'email'"
              autocomplete="off"
            />
            <span
              *ngIf="
                !loginForm.get('email')?.valid &&
                loginForm.get('email')?.touched
              "
              class="input-form-error"
              >Please enter a valid email</span
            >
          </div>
          <div>
            <div style="position: relative">
              <label for="password">Password</label>
              <input
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Enter your password"
                [formControlName]="'password'"
                style="padding-right: 2.5rem"
              />
              <i
                class="fa-solid"
                [class.fa-eye]="!showPassword"
                [class.fa-eye-slash]="showPassword"
                (click)="togglePasswordVisibility()"
                style="
                  position: absolute;
                  right: 1rem;
                  top: 70%;
                  transform: translateY(-50%);
                  cursor: pointer;
                  color: #aaa;
                "
              ></i>
            </div>
            <span
              *ngIf="
                !loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched
              "
              class="input-form-error"
            >
              {{ getPasswordError() }}
            </span>
          </div>

          <button class="btn btn--form" type="submit">Login</button>

          <!-- <input type="checkbox" />
                <input type="number" /> -->
        </form>
      </div>

      <p class="login-terms-condition">
        By clicking the Sign up button, you agree to our
        <span class="primary-color">Terms & Conditions</span> and
        <span class="primary-color">Privacy Policy</span>
      </p>
      <p class="login-signup">
        New here?
        <span
          class="primary-color login-signup-click"
          routerLink="/auth/register"
          >Create an account now!</span
        >
      </p>
    </div>
  </div>
</section>
