<section id="sponsor" class="section-sponsor">
  <div class="container sponsor">
    <h2 class="quick-section-title">Our Partner</h2>
    <p class="quick-section-description">
      We believe in the power of collaboration. Partner with us and let's build
      something amazing together. <br />
      Contact us today to explore partnership opportunities.
    </p>
  </div>

  <div class="container">
    <div class="sponsor-clients">
      <img src="../../../../../assets/images/sponsors/amazon.png" alt="" />
      <img src="../../../../../assets/images/sponsors/figma.png" alt="" />
      <img src="../../../../../assets/images/sponsors/google.png" alt="" />
      <img src="../../../../../assets/images/sponsors/spotify.png" alt="" />
      <img src="../../../../../assets/images/sponsors/telerama.png" alt="" />
    </div>
  </div>
</section>
