.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // Default: 4 columns
  gap: 24px;

  // 3 columns at 1024px
  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // 2 columns at 768px
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // 1 column for small devices
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.95rem;
  position: relative;
  overflow: hidden;

  .img {
    width: 100%; // Responsive image
    height: 250px;
    object-fit: cover; // Maintains aspect ratio and covers the area
    border-radius: 4px;
  }

  .card-title {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 0.625rem;
    font-weight: 500;
  }

  .category-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  .card-category {
    padding: 8px 16px;
    margin: 4px;
    // background-color: #e0f7fa;
    // border: 1px solid #b2ebf2;
    background-color: var(--primary-color-fade);
    border: 1px solid var(--primary-color-tint);
    border-radius: 16px;
    font-size: 14px;

    font-weight: 500;
    color: var(--primary-color);
    cursor: default;
    white-space: nowrap;
  }

  .card-price-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .card-price {
    font-size: 1.5rem;
    font-weight: 600;
    // margin-bottom: 0.8rem;
  }
  .card-price-off {
    margin-left: 12px;
    border: 1px solid var(--color-form);
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--color-form);
  }

  .card-brand-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 12px;
    gap: 12px;
  }

  .card-brand {
    font-size: 14px;
  }

  .card-icon {
    color: var(--color-yellow);
  }

  .card-icon-rating {
    font-size: 0.875rem;
    margin-left: 0.25rem;
    // font-weight: 700;
    margin-right: 4px;
  }

  .collection-star {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 0.875rem;
  }

  .card-description {
    margin-bottom: 0.8rem;
    font-size: 14px;
    font-weight: 500;
  }

  .full-btn {
    width: 100%;
  }

  // .card-stock {
  //   position: absolute;
  //   top: 30px;
  //   right: -40px;
  //   width: 200px;
  //   height: 30px;
  //   background: var(--primary-color-tint);

  //   color: #fff;
  //   text-align: center;
  //   line-height: 30px;
  //   font-size: 0.875rem;
  //   font-weight: bold;
  //   transform: rotate(40deg);
  //   transform-origin: center;
  //   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  // }
  .card-stock-out {
    position: absolute;
    top: 30px;
    right: -40px;
    width: 200px;
    height: 30px;
    background: var(--color-red);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 0.875rem;
    font-weight: bold;
    transform: rotate(40deg);
    transform-origin: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.products-btn-container {
  display: flex;
  gap: 16px;
}
