<section class="section-collections">
  <h2 class="collection-title">Popular Collection</h2>
  <div class="container product-container">
    <!-- Repeat the card dynamically -->
    <div class="card" *ngFor="let product of products">
      <img class="img" [src]="product.image" alt="Product Image" />
      <div>
        <h2 class="card-title">{{ product.title }}</h2>
        <h3 class="card-price">{{ product.price }}</h3>
        <div class="collection-star">
          <i
            *ngFor="let star of [1, 2, 3, 4]"
            class="fa-solid fa-star card-icon"
          ></i>
          <i class="fa-regular fa-star card-icon"></i>
          <span class="card-icon-rating">{{ product.rating }}</span>
        </div>
        <p class="card-description">
          {{ product.description }}
        </p>
      </div>

      <button class="btn btn--full full-btn">Add to Card</button>
    </div>
  </div>
</section>
