<section class="section-collections my-10">
  <!-- <h2 class="collection-title">Popular Collection</h2> -->
  <div class="container">
    <!-- Repeat the card dynamically -->
    <div class="InputContainer">
      <input
        placeholder="Search Product"
        id="input"
        class="input remove-outline"
        name="text"
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange($event)"
      />

      <label class="labelforsearch" for="input">
        <svg class="searchIcon" viewBox="0 0 512 512">
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          ></path>
        </svg>
      </label>
    </div>
    <!-- <div class="topnav">
      <div class="search-container">
        <input
          type="text"
          class="search-input"
          placeholder="Search Product.."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange($event)"
        />
        <i class="fas fa-search search-icon"></i>
      </div>
    </div> -->
    <div class="category-and-product-list-container">
      <div>
        <app-product-by-category
          (categorySelected)="onCategorySelected($event)"
          (sortByPrice)="sortProducts($event)"
        ></app-product-by-category>
      </div>
      <div *ngIf="products.length === 0" class="no-products">
        <h2>No Products Found</h2>
      </div>
      <div class="product-container">
        <ng-container *ngFor="let product of products; trackBy: trackById">
          <div class="card">
            <img class="img" [src]="product.image" alt="Product Image" />
            <div>
              <h2 class="card-title">
                {{
                  product.title.length > 20
                    ? product.title.substring(0, 20) + "..."
                    : product.title
                }}
              </h2>

              <div class="card-brand-star">
                <p class="">{{ product.category }}</p>
                <div class="collection-star">
                  <!-- Dynamic Full Stars -->
                  <i
                    *ngFor="let star of getStarsArray(product.rating).fullStars"
                    class="fa-solid fa-star card-icon"
                  ></i>

                  <!-- Dynamic Half Star -->
                  <i
                    *ngIf="getStarsArray(product.rating).halfStar"
                    class="fa-solid fa-star-half-stroke card-icon"
                  ></i>

                  <!-- Dynamic Empty Stars -->
                  <i
                    *ngFor="
                      let star of getStarsArray(product.rating).emptyStars
                    "
                    class="fa-regular fa-star card-icon"
                  ></i>

                  <span class="card-icon-rating">{{ product.rating }}</span>
                  <span class="text-14">({{ product.reviews }} reviews)</span>
                </div>
              </div>

              <div class="card-price-container">
                <h3 class="card-price">
                  {{ product.price | currency }}
                  <span class="card-price-off-span">
                    {{ product.price + (product.price * 10) / 100 | currency }}
                  </span>
                </h3>
                <p class="card-price-off">{{ product.price_off }} %</p>
              </div>
            </div>

            <div class="products-btn-container">
              <button
                class="btn btn--form full-btn"
                (click)="addToCart(product, 1)"
              >
                Add to Cart
              </button>
              <button
                class="btn btn--full full-btn"
                (click)="onDetailsPage(product.id)"
              >
                View Details
              </button>
            </div>

            <p
              *ngIf="!product.available"
              [ngClass]="!product.available && 'card-stock-out'"
            >
              {{ "Sold Out" }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
