<header id="navbar" class="header-container">
  <div class="header" [ngClass]="{ 'nav-open': isNavLinkOpen }">
    <div class="header-div remove-outline" routerLink="/">
      <img src="../../assets/images/logo.png" class="logo" alt="" />
      <p class="header-title">
        Quick <span class="header-title-color">Mart</span>
      </p>
    </div>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li
          class="main-nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ "Home" | uppercase }}
        </li>
        <li
          class="main-nav-link"
          routerLink="/products"
          routerLinkActive="active"
        >
          {{ "Products" | uppercase }}
        </li>
        <!-- <li
          class="main-nav-link"
          routerLink="/auth/login"
          routerLinkActive="active"
        >
          {{ "About" | uppercase }}
        </li>
        <li
          class="main-nav-link"
          routerLink="/auth/login"
          routerLinkActive="active"
        >
          {{ "Contact" | uppercase }}
        </li> -->
      </ul>
    </nav>

    <div class="left-bar-container">
      <div
        class="icon-badge-container remove-outline tooltip"
        routerLink="/cart"
      >
        <i class="fa-solid fa-cart-shopping navbar-icon"></i>
        <span class="badge" *ngIf="cartItemsCount > 0">{{
          cartItemsCount
        }}</span>
        <span class="tooltiptext">Cart</span>
      </div>

      <div class="dropdown" *ngIf="isUserLoggedIn">
        <div class="dropbtn">
          <i class="fa-regular fa-user navbar-icon"></i>
        </div>
        <div class="dropdown-content">
          <p>{{ userData?.email }}</p>
          <p class="cursor-pointer" routerLink="/auth/user">Edit profile</p>
          <p>
            <button class="btn btn--form w-full" (click)="logout()">
              logout
            </button>
          </p>
        </div>
      </div>
      <button
        class="btn-primary"
        *ngIf="!isUserLoggedIn"
        routerLink="/auth/login"
      >
        Login
      </button>

      <button class="btn-mobile-nav" (click)="toggleNavLink()">
        <i class="fa-solid fa-bars icon-mobile-nav" name="menu-outline"></i>
        <i class="fa-solid fa-xmark icon-mobile-nav" name="close-outline"></i>
      </button>
    </div>
  </div>
</header>
