.checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  min-height: calc(100vh - 342px);
}

.checkout-left-container {
  margin-top: 20px;
}
.checkout-right-container {
  margin-top: 20px;
}

.shipping-container {
  // border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  background-color: var(--primary-color-tint);
  // background-color: rgba(235, 152, 78, 0.9);
  // background-color: #4a2c11;
  color: #fdf2e9;
}
.complete-order-container {
  box-shadow: var(--main-box);
  border-radius: 8px;
  padding: 40px;
}
.current-address-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 12px 0px;
}
.checkout-submit-btn-container {
  display: flex;
  gap: 20px;
}

.login-container-div {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: var(--color-mainBlack);
  border: none;
  // background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
  // color: var(--color-mainBlack);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(235, 152, 78, 0.5);
}

.totals-container {
  display: flex;
  justify-content: end;
}
.total-container {
  // background-color: #0056b3;
  width: 100%;
  border: 1px solid var(--primary-color-fade);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.total-div {
  display: flex;
  justify-content: space-between;
}
.total-title {
  font-weight: 500;
}
.total-price {
  font-weight: 600;
}
.total-div-last {
  border-top: 1px solid var(--primary-color-fade);
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.total-title-last {
  font-size: 20px;
  font-weight: 600;
}
.total-price-last {
  font-size: 20px;
}

.checkout-back-to-cart-container {
  display: flex;
  justify-content: end;
  margin: 12px 0px;
}

.complete-order-condition-title {
  margin: 24px 0px;
}
