<div class="container">
  <div class="confirm-payment-container my-10">
    <div class="payment-container">
      <p class="payment-title">Successful Paid</p>
      <p class="payment-description">
        Thank you for our website. Your payment status is Successful Paid. If
        you have any questions, feel free to contact our support team.
      </p>
      <div class="payment-btn-container">
        <button class="btn btn--form" routerLink="/">
          <i class="fa-solid fa-arrow-left-long" style="margin-right: 8px"></i>
          Back to Home
        </button>
      </div>
    </div>
  </div>
</div>
