// .footer {

//   background-color: var(--color-white);
//   color: var(--color-mainBlack);
//   box-shadow: var(--main-box);
// }

// .footer-container {
//   padding: 40px 20px;
// }

// .footer-nav {
//   display: flex;
//   column-gap: 16px;
// }

// .footer-grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 24px;
//   text-transform: uppercase;
// }

.footer-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 16px;
}

// .logo {
//   height: 3rem;
// }

.footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer-title-color {
  color: var(--primary-color);
}

// .footer-link {
//   font-weight: 600;
//   padding-top: 16px;
//   cursor: pointer;
// }

// .footer-link:hover {
//   color: var(--primary-color);
// }

// .footer-copyright {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: center;
//   font-size: 14px;
// }

// .footer-icon-div {
//   display: flex;
//   flex-direction: row-reverse;
//   gap: 16px;
//   justify-content: end;
//   align-items: center;
// }

// .name {
//   color: var(--primary-color);
// }

// .footer-icon {
//   cursor: pointer;
//   transition: all 0.3s;
// }

// .footer-icon:hover {
//   color: var(--primary-color-tint);
//   transform: scale(1.05);
// }

// @media (max-width: 768px) {
//   .footer-nav {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     row-gap: 8px;
//   }

//   .footer-grid {
//     display: flex;
//     flex-direction: column;
//   }

//   .footer-icon-div {
//     justify-content: center;
//     margin-bottom: 12px;
//   }
// }

.logo {
  height: 3rem;
}
.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

// .grid--footer {
//   grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

//   @media (max-width: 768px) {
//     .grid--footer {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }
// .footer-containers {
//   display: grid;
//   grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; // Default for larger screens
//   gap: 2rem;
//   @media (max-width: 1024px) {
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-columns: repeat(2, 1.5fr) 1fr;
//   }
// }
// .footer-containers {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   gap: 20px;
// }

.footer-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.social-icon {
  height: 1rem;
  width: 1rem;
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

// @media (max-width: 768px) {
//   .grid--footer {
//     grid-template-columns: repeat(6, 1fr);
//   }
// }
