.sticky-nav {
  position: sticky;
  top: 12%;
  overflow: hidden;
}

.product-category-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }

  .category-list {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 10px;

    .category-button {
      padding: 10px;
      border: none;
      background-color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary-color-tint);
        color: white;
      }

      &.active {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }

  .price-sort {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }

  /* Toggle Category Button for Small Screens */
  .toggle-category-btn {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color-tint);
    }
  }

  /* New Category Dropdown for Small Screens */
  .category-dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: var(--main-box);
    color: #333;
    cursor: pointer;
    outline: none;

    &:hover {
      border-color: var(--primary-color-tint);
    }

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--primary-color-fade);
    }
  }
}

/* Media Query for Smaller Screens (below 1024px) */
@media (max-width: 1024px) {
  .category-list {
    display: none; /* Hidden by default on small screens */
  }

  .category-list.show {
    display: block; /* Show the category list when toggled */
  }

  .category-button {
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  /* Show category dropdown for small screens */
  .category-dropdown {
    display: block;
    width: 100%;
  }
}

select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: var(--main-box);
  color: #333;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: var(--primary-color-tint);
  }

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color-fade);
  }
}
