<div class="product-category-container sticky-nav">
  <p class="heading">Category</p>

  <!-- Category List for Larger Screens -->
  <div class="category-list" *ngIf="isDropdownVisible || isLargeScreen">
    <button
      class="category-button"
      [class.active]="selectedCategory === 'All Categories'"
      (click)="selectCategory('All Categories')"
    >
      All Categories
    </button>
    <button
      *ngFor="let category of categories"
      class="category-button"
      [class.active]="selectedCategory === category"
      (click)="selectCategory(category)"
    >
      {{ category }}
    </button>
  </div>
  <select
    *ngIf="!isLargeScreen"
    class="category-dropdown"
    (change)="onCategoryDropdownChange($event)"
  >
    <option value="All Categories">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>

  <!-- Sort By Dropdown -->
  <div>
    <p class="heading sort-heading">Sort by Price</p>
  </div>
  <div class="sort-container">
    <select id="sortPrice" (change)="onSortChange($event)">
      <option value="lowToHigh">Low to High</option>
      <option value="highToLow">High to Low</option>
    </select>
  </div>

  <!-- Category Selector for Small Screens -->
</div>
