<div class="container">
  <div class="our-plan">
    <p class="quick-section-title">Our Service</p>
    <p class="quick-section-description">
      Enjoy the peace of mind that comes with genuine products, speedy delivery,
      hassle-free returns, and comprehensive protection.
    </p>

    <div class="our-plan-container">
      <div class="our-plan-item our-plan-item-genuine">
        <i class="fa-solid fa-gear our-plan-icon fa-2x"></i>
        <p class="our-plan-title">Genuine Products</p>
        <p class="our-plan-description">
          Guaranteed authentic items with quality you can trust, delivered to
          you.
        </p>
      </div>
      <div class="our-plan-item our-plan-item-delivery">
        <i class="fa-solid fa-truck our-plan-icon fa-2x"></i>
        <p class="our-plan-title">Fast Delivery</p>
        <p class="our-plan-description">
          Reliable and speedy shipping to your doorstep for a smooth shopping
          experience.
        </p>
      </div>
      <div class="our-plan-item our-plan-item-returns">
        <i class="fa-solid fa-receipt our-plan-icon fa-2x"></i>
        <p class="our-plan-title">Easy Returns</p>
        <p class="our-plan-description">
          Simple, stress-free return process designed for your ultimate
          convenience
        </p>
      </div>
      <div class="our-plan-item our-plan-item-support">
        <i class="fa-solid fa-phone our-plan-icon fa-2x"></i>
        <p class="our-plan-title">24/7 Support</p>
        <p class="our-plan-description">
          Dedicated round-the-clock assistance for all your questions and
          concerns.
        </p>
      </div>
    </div>
  </div>
</div>
