<div class="container" style="padding: 60px 0px">
  <div class="top-products">
    <p class="quick-section-title">Top Products</p>
    <p class="quick-section-description">
      Discover top-notch quality, unbeatable prices, swift delivery, and
      seamless shopping for your favorite products.
    </p>
  </div>

  <div class="top-products-container">
    <div *ngFor="let product of allProducts | slice : 0 : 8; trackBy: trackById" class="">
      <div class="card">
        <img class="top-product-img" [src]="product.image" alt="" />
        <div class="card__content">
          <p class="card__title">{{ product.title }}</p>
          <p class="card__description">
            {{
              product.description.length > 150
                ? product.description.substring(0, 150) + "..."
                : product.description
            }}
          </p>
          <div class="card__features">
            <div *ngFor="let feature of product.features" class="card__feature">
              <p>{{ feature }}</p>
            </div>
          </div>
          <p class="card__price">
            {{ product.price | currency }}

            <span class="card-price-off-span">
              {{ product.price + (product.price * 10) / 100 | currency }}
            </span>
          </p>
          <div class="card__buttons">
            <button class="card__button w-full" (click)="addToCart(product)">
              Add to Card
            </button>
            <button
              class="btn btn--full w-full"
              (click)="goToDetailPage(product.id)"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
