.top-products {
  padding: 40px 0px;
}
.top-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  position: relative;
  width: 350px;
  height: 280px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: var(--color-mainBlack);
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

.card__button {
  padding: 15px;
  border-radius: 8px;
  background: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
}
.card__button:hover {
  background: var(--primary-color-tint);
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.card-brand {
  font-size: 14px;
}

.card-icon {
  color: var(--color-yellow);
}

.card-icon-rating {
  font-size: 14px;
  margin-left: 0.25rem;
  // font-weight: 700;
  margin-right: 4px;
}

.collection-star {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 0.875rem;
}

.card-description {
  margin-bottom: 0.8rem;
  font-size: 14px;
  font-weight: 500;
}
.card__price {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8rem 0px;
  color: var(--color-footer);
}

.card__features {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  flex-wrap: wrap;
}
// .card__feature {
//   display: flex;
//   flex-direction: row;
//   margin-bottom: 0.8rem;
// }

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.card__feature {
  padding: 5px 10px;
  background-color: var(--primary-color-fade);
  color: #333;
  font-size: 12px;
  font-weight: 600;
  border-radius: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card__feature:hover {
  background-color: var(--primary-color-tint);
  color: #fff;
}
