<div class="container my-10">
  <div class="details">
    <div class="details-img-container">
      <img [src]="product.image" class="details-img" alt="" />
    </div>
    <div class="details-container">
      <h2 class="card-title">{{ product.title }}</h2>
      <div class="card-brand-star">
        <p class="">{{ product.category }}</p>
        <div class="collection-star">
          <i
            *ngFor="let star of [1, 2, 3, 4]"
            class="fa-solid fa-star card-icon"
          ></i>
          <i class="fa-regular fa-star card-icon"></i>
          <span class="card-icon-rating">{{ product.rating }} </span>
          <span> ( {{ product.reviews }} reviews)</span>
        </div>
      </div>
      <div>
        <p class="fw-600">Description:</p>
        <p class="details-description">{{ product.description }}</p>
      </div>

      <div class="features-container">
        <p class="fw-600 feature-brand">Features:</p>
        <ul class="features" *ngFor="let feature of product.features">
          <li class="features-text">{{ feature }}</li>
        </ul>
      </div>
      <p><span class="fw-600">Brand: </span> {{ product.brand }}</p>
      <div>
        <p *ngIf="product.available">
          <span class="fw-600">Availability: </span
          ><i class="fa-solid fa-check stock-in-icon"></i>
          {{ product.stock }} in Stock
        </p>
        <p *ngIf="!product.available">
          <span class="fw-600">Availability: </span
          ><i class="fa-solid fa-xmark stock-out-icon"></i> out of Stock
        </p>
      </div>
      <div class="card-price-container">
        <h3 class="card-price">
          $
          {{ getCalculatedDiscountPrice(product.price, product.price_off) }}
        </h3>
        <p class="card-price-off">{{ product.price_off }} %</p>
      </div>

      <div class="products-btn-container">
        <div class="quantity-container-div">
          <div class="fw-600">Quantity:</div>
          <div class="quantity-container">
            <button
              class="btn quantity-btn btn--full"
              (click)="decrementQuantity()"
              [disabled]="quantity <= 1"
            >
              -
            </button>
            <div class="quantity-display">{{ quantity }}</div>
            <button
              class="btn btn--full"
              (click)="incrementQuantity()"
              [disabled]="quantity >= maxQuantity"
            >
              +
            </button>
          </div>
        </div>
        <div>
          <button
            class="btn btn--form full-btn"
            (click)="onAddToCart()"
            *ngIf="isAlreadyAddedIntoCart"
          >
            Add to Cart
          </button>
          <button
            class="btn btn--full full-btn"
            (click)="onAddToCart()"
            *ngIf="!isAlreadyAddedIntoCart"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
